[submodule "rlqp-python"]
	path = rlqp-python
	url = https://github.com/oxfordcontrol/osqp-python.git
[submodule "osqp_benchmarks"]
	path = osqp_benchmarks
	url = https://github.com/oxfordcontrol/osqp_benchmarks.git
